
/svelte@latest/node_modules

# Exclude macOS binary
*.DS_Store
.DS_Store

# Exclude IDE clutter
.vscode
.idea
__pycache__
venv
.venv

# Exclude secrets
.env
server/data.sqlite3
server/data.sqlite3-journal
data.sqlite3
db_images.sqlite3
server/launch.sh
