[Unit]
Description=Skinscan Service
After=docker.service
Requires=docker.service
StartLimitBurst=5
StartLimitIntervalSec=30

[Service]
WorkingDirectory=/services/skinscan/
ExecStart=docker-compose up -d
ExecStop=docker-compose down
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target